<nav class="navbarNB fixed-top">
    <div class="" id="navbarNavNB ">
      <ul class="navbar-navNB">
        <div class="imgD">
          <img src="../../../favicon.ico" alt="LogoCH" class="img" />
          <a class="titulo"  href=" # "
            >Check&Health</a
          >
        </div>
        <li class="nav-itemNB" routerLinkActive="active">
          <a class="nav-link" >RETOS</a>
        </li>
        <li class="nav-itemNB" routerLinkActive="active">
                      <a class="nav-link" >MIS RETOS</a>
                  </li>
        <li class="nav-itemNB" routerLinkActive="active">
          <a class="nav-link" >ENSEÑANZA</a>
        </li>
        <li class="nav-itemNB" routerLinkActive="active">
          <a class="nav-link" >FORO</a>
        </li>
        <li>
          <div class="dropdown">
            <button class="btn" id="but" type="button">
            </button>
            <div class="dropdown-content">
              <button mat-menu-item class="btnC" >
                PERFIL
              </button>
              <button mat-menu-item class="btnC" href="">
                CERRAR SESION
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet class="bg-light"></router-outlet>