.container {
    display: flex;
    max-width: 60%;
    border-radius: 15px;
    background-color: whitesmoke;
    padding: 1%;
    margin-top: 8% !important;
  }
  .title {
    color: red;
    text-align: center;
  }
  .img {
    max-width: 30%;
    margin-top: 5%;
  }
  .imgP {
    max-width: 90%;
    border-radius: 70px;
  }
  .content {
    min-width: 70%;
  }
  .btnC {
    margin: 5px;
    display: flex;
  }
  .but{
      margin-top: 5%;
  }
  .field{
    display: flex;
  }
  .cont{
    font-weight: bold;
  }
  .previsualization {
    max-height: 200px;
    margin: 7%;
  }
  .pad{
    padding: 3%;
  }
  form{
    padding: 4%;
  }
  .mar{
    max-width: 85% ;
  }