<div class="home-page">
  <div class="home" appearance="fill" fxFlexFill>
    <div>
      <h1 class="font-weight-bold text-center title">Inicio</h1>
    </div>

    <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>

    <div class="items">
      <div class="botn" *ngFor="let e of enfermedades">
        <button
          type="button"
          class="btn btn-outline-primary"
          *ngIf="e.padece"
          [routerLink]="[e.route]"
        >
          <mat-icon>favorite</mat-icon>
          {{ e.nombreEnfermedad }}
        </button>

        <button
          type="button"
          class="btn btn-outline-secondary"
          disabled
          *ngIf="!e.padece"
          [routerLink]="[e.route]"
        >
          <mat-icon class="disIcon">favorite</mat-icon>
          {{ e.nombreEnfermedad }} 
        </button>
      </div>
    </div>
  </div>
</div>
