<div class="notify-page">
  <div class="notify" appearance="fill" fxFlexFill>
    <div>
      <h1 class="font-weight-bold text-center title">Notificaciones</h1>
    </div>

    <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>

    <div class="row row-cols-1">
        <div class="col" *ngFor="let d of dosisMedicamento">
        <div>
            <div class="card">
            <h5 class="card-header title">{{ d.nombre }}</h5>
            <div class="card-body">
                <p class="card-text">Dosis:{{ d.dosis }} {{ d.nombreTipoDosis}}</p>
                <p class="card-text">Fecha y Hora:{{ d.fechaHora }}</p>
                <button class="btn-primary" *ngIf="d.checkk">¡Hecho!</button>
                <button class="btn-secondary" *ngIf="!d.checkk" (click)="setCheckkDosis(d.id)">¡Pendiente!</button>
            </div>
            </div>
        </div>
        </div>
        <div class="col" *ngFor="let t of tomaExamen">
          <div>
              <div class="card">
              <h5 class="card-header title">{{ t.nombre }}</h5>
              <div class="card-body">
                  <p class="card-text">Media:{{ t.medida }} {{ t.nombreTipoMedida }}</p>
                  <p class="card-text">Fecha y Hora:{{ t.fechaHora }}</p>
                  <button class="btn-primary" *ngIf="t.checkk">¡Hecho!</button>
                  <button class="btn-secondary" *ngIf="!t.checkk" (click)="setCheckkExa(t.id)">¡Pendiente!</button>
              </div>
              </div>
          </div>
          </div>
  </div>
  </div>
</div>







<!-- <div class="container">
  <div>
    <h1 class="font-weight-bold text-center title">Mis retos</h1>
  </div>

  <div class="row row-cols-1">
        <div class="col" *ngFor="let e of challenges">
        <div>
            <div class="card">
            <h5 class="card-header title">{{ e.titulo }}</h5>
            <div class="card-body">
                <p class="card-text">Vigente hasta:{{ e.fechaFin }}</p>
                <a [routerLink]="[e.id]">Ver Reto</a>
            </div>
            </div>
        </div>
        </div>
  </div>
</div> -->
