<div class="notify-page">
  <div class="notify" appearance="fill" fxFlexFill>
    <div>
      <h1 class="font-weight-bold text-center title">Notificaciones</h1>
    </div>

    <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>

    <div class="row row-cols-1">
        <div class="col" *ngFor="let n of notificaciones">
        <div>
            <div class="card">
            <h5 class="card-header title">{{ n.titulo }}</h5>
            <div class="card-body">
                <p class="card-text">Fecha y Hora:{{ n.fechaHora }}</p>
                <a>¡Hecho!</a>
            </div>
            </div>
        </div>
        </div>
  </div>
  </div>
</div>







<!-- <div class="container">
  <div>
    <h1 class="font-weight-bold text-center title">Mis retos</h1>
  </div>

  <div class="row row-cols-1">
        <div class="col" *ngFor="let e of challenges">
        <div>
            <div class="card">
            <h5 class="card-header title">{{ e.titulo }}</h5>
            <div class="card-body">
                <p class="card-text">Vigente hasta:{{ e.fechaFin }}</p>
                <a [routerLink]="[e.id]">Ver Reto</a>
            </div>
            </div>
        </div>
        </div>
  </div>
</div> -->
