<div class="login-page">
    <div class="form">
        <!-- <form class="login-form" (submit)="login()" appearance="fill" fxFlexFill> -->
        <form class="login-form" appearance="fill" fxFlexFill>
            <div>
                <!-- <img src="../../../favicon.ico" alt="FoddieChallenge" class="img" /> -->
            </div>
            <div>
                <!-- <h1 class="font-weight-bold text-center title">{{ title }}</h1> -->
            </div>

            <input class="form-control" type="text" placeholder="username" [(ngModel)]="credentials.username" name="username" />

            <input class="form-control" type="password" placeholder="password" [(ngModel)]="credentials.contrasena" name="password" />

            <button class="btn btn-primary" type="submit" role="button">Login</button>

            <div>
                <p>¿Aún no tienes una cuenta? Registrate aqui:</p>
                <a class="nav-link" [routerLink]="['/register']">Registrarse</a>
            </div>
        </form>
    </div>
</div>