<div class="login-page">
    <div class="form">
        <form class="login-form" (submit)="login()" appearance="fill" fxFlexFill>
            <div>
                <img src="../../../favicon.ico" alt="Logo" class="img" />
            </div>
            <div>
                <h1 class="font-weight-bold text-center title">Check&Health</h1>
            </div>
            <div>
                <h2 class="font-weight-bold text-center title">Inicia Sesion</h2>
            </div>

            <button class="btn btn-primary" type="submit" role="button">Login</button>

            <div>
                <p>¿Aún no tienes una cuenta? Registrate aqui:</p>
                <a class="nav-link" [routerLink]="['/register']">Registrarse</a>
            </div>
        </form>
    </div>
</div>