.dash-page {
  height: 100%;
}
.dash {
  border-radius: 15px;
  background-color: whitesmoke;
  padding: 4%;
  align-items: self-start !important;
  min-width: 30%;
  height: 100%;
  margin: 10%;
  margin-top: 3% !important;
}
.titulo {
  color: black;
}

::ng-deep .mat-mdc-card {
  color: black;
  background-color: aliceblue !important;
  border-radius: 5px;
  min-width: fit-content !important;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
