.sidenav-container {
  height: 100%;
  background-color: transparent;
}

.menuIcon{
  color:white !important;
}

.sidenav {
  width: 200px;
  background-color: whitesmoke;
}

.mat-toolbar {
  background-color: rgb(59, 192, 209);
  color: white !important;
  margin-bottom: 2%;
}

::ng-deep .mdc-list-item__primary-text {
  color: rgb(154, 170, 184) !important;
}

::ng-deep .mat-icon {
  color: rgb(16, 143, 247);
}

.img{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgP {
  border-radius: 50%;
  max-width: 50%;
}

.btnC{
  border-color: transparent;
  background-color: transparent;
}
