<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div class="img">
        <img
          src="https://img.freepik.com/vector-gratis/ilustracion-concepto-diabetes_114360-3670.jpg?w=826&t=st=1676363178~exp=1676363778~hmac=aca1a5c4b0ddf0427701f78ccb48387476af450d2a2b742e8a575dd349bec9b3"
          class="imgP"
        />
        <p class="title">Nombre Usuario</p>
      </div>
      <a
        class="menu"
        *ngFor="let item of menu"
        mat-list-item
        [routerLink]="'/home/' + item.nombre"
      >
        <mat-icon> {{ item.icono }} </mat-icon>
        {{ item.nombre | titlecase }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar color="primary">
       <button mat-icon-button class="btnC" type="button" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Check&Health</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
